
body{
margin:0;
background:#070707;
color:white;
font-family:Inter;
}

.logo{
text-align:center;
padding:40px;
}

.hero{

height:100vh;

background:url("../images/hero.jpg") center/cover;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

position:relative;

}

.hero::after{

content:"";

position:absolute;

width:100%;

height:100%;

background:rgba(0,0,0,0.65);

}

.hero-content{
position:relative;
z-index:2;
}

.script{

font-family:"Great Vibes";

color:#d6b57c;

font-size:36px;

}

.hero h1{

font-family:"Playfair Display";

font-size:80px;

}

.nav-pill{

background:white;

padding:15px 30px;

border-radius:40px;

display:inline-flex;

gap:30px;

margin-top:20px;

}

.nav-pill a{

text-decoration:none;

color:black;

}

.menu-section{

display:grid;

grid-template-columns:1fr 1fr;

padding:100px;

gap:80px;

}

.menu-left img{

width:100%;

border-radius:10px;

}

.menu-right{

background:#111;

padding:40px;

border-radius:10px;

}

.menu-item{

display:flex;

justify-content:space-between;

padding:20px 0;

border-bottom:1px solid #333;

}

.food-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

}

.card{

position:relative;

}

.card img{

width:100%;

height:420px;

object-fit:cover;

}

.card h3{

position:absolute;

bottom:30px;

left:20px;

font-family:Playfair Display;

font-size:28px;

}

footer{

text-align:center;

padding:40px;

background:black;

}
